.header {
 text-align: center;
 display: flex;
 justify-content: space-between;
 max-width: 200px;
 margin: 0 auto;
}

.clientList {
 margin-left: 30%;
 flex-flow: row wrap;
}

* button {
  border-radius: 50px;
  font-size: 12px;
}


.stockList {
  border: solid #000;
  border-width: 2px;
  display: inline-block;
  padding: 20px;
  text-align: center;
  flex-flow: column;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.watching {
  border-color: green;
  border-width: 7px;
}

/* .addClient {
  display: block;
  margin-top: -110%;
  margin-right: 15%;
  position: fixed;
} */